/* body{
background: url(https://www.pexels.com/video/aerial-footage-of-a-football-stadium-in-a-city-2657271/;)
} */

.myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  /* #parent {
    display: table;
    width: 100%;
 } */

 /* #form_login {
    align
    position: absolute;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
 } */

  .container {
    text-align: center;
    position: fixed;
    top: 375px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 30%;
    padding: 20px;
    margin-left: 800px;
  }